@media(max-width:900px){
    .table.table-striped{
        width:100% !important;
    }
}

@media(max-width:900px){
    .col{
        flex: 0 0 100% !important;
        max-width:100%;
        margin-top:8px;
    }
}

@media(max-width:375px){
    .col{
        flex: 0 0 100% !important;
    }
}